.InstructorTable {}
.InstructorTable table{
   margin-top: 30px;
   border-bottom: 1px solid;
}
.InstructorTable table{
  width: 100%;
}
.InstructorTable .middle{
    display: flex;
  justify-content: space-around;
}
.InstructorTable table thead tr th{
   border: 1px solid;
   border-bottom: 0px solid;
}
.InstructorTable table tbody tr td{
   border: 1px solid;
   border-bottom: 0px solid;
}
.InstructorTable table tbody tr td:nth-child(1),
.InstructorTable table tbody tr td:nth-child(2),
.InstructorTable table tbody tr td:nth-child(3){
   border-top: 0px solid;
}
.InstructorTable tr > td.actions{
   vertical-align: middle;
}

.InstructorTable button.blue-btn{
    background-color: #337180;
    position: relative;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    border-radius: 6px;
    border: none;
 }
 .InstructorTable button.red-btn{
    background-color: rgb(182, 182, 70);
    position: relative;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    border-radius: 6px;
    border: none;
 }
 
 .InstructorTable .btt{
    font-weight: bold;
 }
 .InstructorTable .btt.violet{
    color: rgb(130, 9, 217);
 }
 .InstructorTable .btt.brown{
    color: brown;
 }
 .InstructorTable .btt.blue{
    color: rgb(0, 110, 255);
 }
 .InstructorTable .btt.orange{
    color: orange;
 }
 .InstructorTable .btt.vert{
    background-color: transparent;
    position: relative;
    text-decoration: none;
    color: green;
    border-radius: 6px;
    border: none;
    text-decoration: underline;
    font-size: 0.9rem;
    cursor: pointer;
 }
 
