.CreatePageCourse {
    padding: 50px;
    background-color: var(--blue);
}
.CreatePageCourse .page-top{
  display: flex;
  justify-content: space-between;
  width: 70%;
  align-items: center;
}
.CreatePageCourse .page-top h1{
  
}
.CreatePageCourse .page-top a{
  font-size: 1.5rem;
  color: var(--orange);
  font-weight: bold;
}
.CreatePageCourse h4{
  color: rgba(255, 255, 255, 0.733);
}
.CreatePageCourse .page-content{
    border: 5px solid white;
    margin-top: 20px;
}


